.main-container {
    display: flex;
    flex-direction: column;

    width: min(601px, 100%);
}

@media (min-width: 500px) {
    .main-container {
        border-left: 1px solid var(--outline);
        border-right: 1px solid var(--outline);
    }
}

/**
HEADER
*/

header {
    z-index: 2;
    position: sticky;
    top: 0;
    background: var(--primary);

    display: flex;
    align-items: center;
    text-align: left;

    padding: 8px 0 9px 13px;
    border-bottom: 1px solid var(outline);
}

header > button {
    padding: 8px;
    border-radius: 50%;

    outline: 0;
    cursor: pointer;
}

header > button:hover {
    background: var(--twitter-dark-hover);
}

header > button > i {
    width: 24px;
    height: 24px;

    // fill: var(--twitter);
    color: var(--twitter);
}

.profile-info {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
}

.profile-info > strong {
    font-size: 19px;
}

.profile-info > span {
    font-size: 15px;
    color: var(--gray);
}

/**
BOTTOM MENU
*/

.bottom-menu {
    position: fixed;
    bottom: 0;

    left: 0;
    z-index: 2;
    background: var(--primary);
    width: 100%;

    border-top: 1px solid var(--outline);

    display: flex;
    justify-content: space-between;
    padding: 8px min(10vw, max(10vw, 10px));
}
@media (min-width: 500px) {
    .bottom-menu {
        display: none;
    }
}
.bottom-menu > i {
    width: 31px;
    height: 31px;

    cursor: pointer;
    color: var(--gray);
}

.bottom-menu > i:hover,
.bottom-menu > i:active {
    color: var(--twitter);
}

/**
PROFILE
*/
.profile-page {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    overflow: auto;

    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

.profile-page .banner {
    flex-shrink: 0;
    height: min(33vw, 199px);
    width: 100%;

    background: var(--twitter);
    position: relative;
}

.profile-page .banner .avatar {
    width: max(45px, min(135px, 22vw));
    height: max(45px, min(135px, 22vw));
    border: 3.75px solid var(--primary);

    background: var(--gray);

    border-radius: 50%;
    position: absolute;
    bottom: max(-60px, -10vw);

    left: 15px;
}

.profile-page .profile-data {
    padding: min(calc(10vw + 7px), 67px) 16px 0;

    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-page .profile-data > button {
    position: absolute;

    top: 2vw;
    right: 7px;
    padding: 4px 6px;

    font-size: 13px;
}

@media (min-width: 320px) {
    .profile-page .profile-data > button {
        top: 10px;
        padding: 10px 19px;
        font-size: 15px;
    }
}

.profile-page .profile-data > h1 {
    font-weight: bold;
    font-size: 19px;
}

.profile-page .profile-data > h2 {
    font-weight: normal;
    font-size: 15px;

    color: var(--gray);
}

.profile-page .profile-data > p {
    font-size: 15px;
    margin-top: 11px;
}

.profile-page .profile-data > a {
    text-decoration: none;
    color: var(--twitter);
}

.profile-page .profile-data > ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;

    > li {
        font-size: 15px;
        color: var(--gray);
    }
}

.profile-page .profile-data i {
    width: 20px;
    height: 20px;

    margin-right: 5px;
    color: var(--gray);
}

.profile-page .profile-data .followage {
    display: flex;

    > span {
        font-size: 15px;
        color: var(--gray);

        & + span {
            margin-left: 20px;
        }
    }
}

.profile-page .profile-data .feed {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid var(--twitter);
}

.profile-page .feed .tab {
    margin-top: 10px;

    padding: 11px 12px 15px;
    font-weight: bold;

    font-size: 15px;
    outline: 0;

    cursor: pointer;
    text-align: center;

    color: var(--twitter);

    &:hover {
        background: var(--twitter-dark-hover);
    }
}

.profile-page .feed .tweets {
    display: flex;
    flex-direction: column;

    flex-shrink: 0;
}
.profile-page .feed .tweets .tweet {
    display: flex;
    flex-direction: column;

    padding: 14px 16px;
    border-bottom: 1px solid var(--outline);
    max-width: 100%;
}

.retweeted {
    display: flex;
    align-items: center;

    font-size: 13px;

    color: var(--gray);
}

.retweeted > i {
    width: 16px;
    height: 16px;

    // margin: 35px 9px 0 0;
    margin-left: 35px;
    margin-right: 9px;

    color: var(--gray);
}

.tweet-body {
    display: flex;
    margin-top: 3px;
    position: relative;
}

.tweet-avatar {
    width: 49px;
    height: 49px;

    border-radius: 50%;
    flex-shrink: 0;
    background: var(--gray);

    position: absolute;
    top: 0;
    left: 0;
}

.tweet-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2px;
    padding-left: 59px;
}

.tt-ct-header {
    display: flex;
    align-items: center;
    font-size: 15px;
    white-space: nowrap;

    > strong {
        margin-right: 5px;
    }

    > span,
    small {
        color: var(--gray);
    }

    > strong,
    span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.tt-ct-dot {
    background: var(--gray);
    width: 2px;
    height: 2px;
    margin: 0 10px;
}

.tt-ct-description p {
    font-size: 14px;
    margin-top: 4px;
}

.tt-ct-image-content {
    margin-top: 12px;
    width: 100%;
    background: var(--outline);
    height: min(285px, max(175px, 41vw));
    border-radius: 14px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.tt-ct-status > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0px 0;

    // margin: 11px auto 0;

    width: 100%;
    list-style: none;

    > li {
        cursor: pointer;
        display: flex;
        align-items: center;

        font-size: 14px;
        // color: var(--gray);

        &:hover {
            opacity: 0.7;
        }

        > i {
            width: 19px;
            height: 19px;
            margin-right: 5px;
        }
    }
}

@media (min-width: 330px) {
    .tt-ct-status > ul {
        width: 63%;
    }
}

.retweet {
    color: var(--retweet);
    > i {
        color: var(--retweet);
    }
}

.like {
    color: var(--like);

    > i {
        color: var(--line);
    }
}
