<div class="menu-bar">

  <div class="top-side">
    <div class="menu-button">
      <ul>
        <li>
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </li>

        <li>
          <i class="fa fa-home fa-lg" aria-hidden="true"></i>
          <span>Home</span>
        </li>

        <li>
          <i class="fa fa-hashtag fa-lg" aria-hidden="true"></i>
          <span>Explorar</span>
        </li>

        <li>
          <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
          <span>Notificações</span>
        </li>

        <li>
          <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
          <span>Mensagens</span>
        </li>

        <li>
          <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
          <span>Favoritos</span>
        </li>

        <li>
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          <span>Perfil</span>
        </li>

        <li>
          <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
          <span>Mais</span>
        </li>
      </ul>

      <button class="button filled"> Tweetar</button>
    </div>
  </div>

  <div class="bottom-side">
    <div class="avatar"></div>

    <div class="profile-data">
      <strong>Brenda Martins</strong>
      <span>@brenda_martins</span>
    </div>
    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>

  </div>

</div>