<div class="container">
  <div class="wrapper">


    <!-- MENU BAR -->
    <div class="menu-bar">

      <div class="top-side">
        <div class="menu-button">
          <ul>
            <li>
              <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
            </li>

            <li>
              <i class="fa fa-home fa-lg" aria-hidden="true"></i>
              <span>Home</span>
            </li>

            <li>
              <i class="fa fa-hashtag fa-lg" aria-hidden="true"></i>
              <span>Explorar</span>
            </li>

            <li>
              <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
              <span>Notificações</span>
            </li>

            <li>
              <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
              <span>Mensagens</span>
            </li>

            <li>
              <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
              <span>Favoritos</span>
            </li>

            <li>
              <i class="fa fa-user fa-lg" aria-hidden="true"></i>
              <span>Perfil</span>
            </li>

            <li>
              <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
              <span>Mais</span>
            </li>
          </ul>

          <button class="button filled"> Tweetar</button>
        </div>
      </div>

    </div>

    <!-- MAIN -->

    <main class="main-container">


      <header>
        <button>
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </button>
        <div class="profile-info">
          <strong>Brenda Martins</strong>
          <span>744 Tweets</span>
        </div>
      </header>



      <div class="profile-page">

        <div class="banner">
          <div class="avatar">

          </div>
        </div>


        <div class="profile-data">
          <button class="button outlined">Editar perfil</button>

          <h1>Brenda Martins</h1>
          <h2>@brenda_martins</h2>

          <p>
            Developer
          </p>

          <ul>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Minas Gerais, Brasil
            </li>

            <li>
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
              Nascido(a) em 12 de Novembro de 1996
            </li>
          </ul>

          <div class="followage">
            <span>
              <strong>144 </strong> seguindo
            </span>
            <span>
              <strong>144 </strong> seguidores
            </span>


          </div>
        </div>


        <div class="feed">
          <div class="tab">Tweets</div>


          <div class="tweets">
            <div class="tweet">

              <div class="retweeted">
                <i class="fa fa-retweet" aria-hidden="true"></i>
                você retweetou
              </div>

              <div class="tweet-body">
                <div class="tweet-avatar"></div>

                <div class="tweet-content">
                  <div class="tt-ct-header">
                    <strong>Brenda Martins</strong>
                    <span>@brenda_martins</span>
                    <div class="tt-ct-dot"></div>
                    <small>07 de Jan</small>
                  </div>

                  <div class="tt-ct-description">
                    <p>Hoje o dia tá chuvoso!</p>
                  </div>

                  <div class="tt-ct-image-content"></div>

                  <div class="tt-ct-status">
                    <ul>
                      <li>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        45
                      </li>

                      <li>
                        <i class="fa fa-retweet" aria-hidden="true"></i>
                        44
                      </li>

                      <li>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        44
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="tweet">
              <div class="retweeted">
                <i class="fa fa-retweet" aria-hidden="true"></i>
                você retweetou
              </div>

              <div class="tweet-body">
                <div class="tweet-avatar">

                </div>

                <div class="tweet-content">
                  <div class="tt-ct-header">
                    <strong>Brenda Martins</strong>
                    <span>@brenda_martins</span>
                    <small>07 de Jan</small>
                  </div>

                  <div class="tt-ct-description">Hoje o dia tá chuvoso!</div>

                  <div class="tt-ct-image-content"></div>

                  <div class="tt-ct-status">
                    <ul>
                      <li>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        45
                      </li>

                      <li>
                        <i class="fa fa-retweet" aria-hidden="true"></i>
                        44
                      </li>

                      <li>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        44
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="tweet">
              <div class="retweeted">
                <i class="fa fa-retweet" aria-hidden="true"></i>
                você retweetou
              </div>

              <div class="tweet-body">
                <div class="tweet-avatar">

                </div>

                <div class="tweet-content">
                  <div class="tt-ct-header">
                    <strong>Brenda Martins</strong>
                    <span>@brenda_martins</span>
                    <small>07 de Jan</small>
                  </div>

                  <div class="tt-ct-description">Hoje o dia tá chuvoso!</div>

                  <div class="tt-ct-image-content"></div>

                  <div class="tt-ct-status">
                    <ul>
                      <li>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        45
                      </li>

                      <li>
                        <i class="fa fa-retweet" aria-hidden="true"></i>
                        44
                      </li>

                      <li>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        44
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>



      <div class="bottom-menu">
        <i class="fa fa-home" aria-hidden="true"></i>
        <i class="fa fa-search" aria-hidden="true"></i>
        <i class="fa fa-bell" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>

    </main>


    <!-- SIDEBAR -->
    <div class="sidebar"></div>
  </div>
</div>