.container{
	display: flex;
	justify-content: center;

	background: var(--outline);
	height: 100vh;
}

.form-register{
	display: flex;
	flex-direction: column;

	margin: 45px;

	padding: 25px;
	
	width: min(600px, 100vw);

	background: var(--primary);
	border-radius: 15px;

	height: auto;
}

.form-group{
	display: flex;
	flex-direction: column;
	padding: 23px 8px;
	position: relative;
	
	margin-bottom: 5px;
	margin-top: 15px;
	width: 100%;
	background: var(--twitter-dark-hover);

	box-sizing: border-box;
	overflow: hidden;

	> input{
		width: 100%;
		outline: none;
		position: absolute;
		bottom: 2px;
		font-size: 16px;
		border-bottom: 2px solid var(--gray);

		&:focus{
			border-bottom: 2px solid var(--twitter);
		}

		// height: 15px;
	}

	> label{
		width: 100%;
		position: absolute;
		top: 2px;
		font-size: 14px;
		color: var(--gray);
	}

}

.input-nome:focus + .label-nome{
	color: var(--twitter);
}

.date-section{
	margin-top: 35px;

	display: flex;
	flex-direction: column;

	> label{
		font-weight: bold;
	}

	> span{
		color: var(--gray);
		font-size: 15px;
	}


}

.date-birth{
	display: flex;

	> div {
		margin-right: 5px;
	}
}



