<main class="index">
	<div class="left">

		<div>
			<i class="fa fa-search fa-lg" aria-hidden="true"></i>
			<span>siga o que for do seu interesse.</span>	
		</div>

		<div>
			<i class="fa fa-users" aria-hidden="true"></i>
			<span>Saiba o que as pessoas estão falando</span>
		</div>
		
	</div>

	<div class="right">

		<div>
			<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
			<h2>Saiba o que está acontecendo no mundo agora</h2>

			<span>Inscreva-se no twitter hoje mesmo.</span>
			<button class="button filled" routerLink="/registrar">Inscrever-se</button>
			<button class="button outlined" routerLink="/perfil">Entrar</button>
		</div>
		
	</div>
</main>